<h2 class="modal-title">Реєстрація</h2>

<div class="flex box">
  <span>Вже є аккаунт?</span>
  <a (click)="updateModalState('login')">Авторизуватися</a>
</div>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="form-fields flex flex-col">
    <div class="flex flex-col mb-3">
      <h4>Ім'я</h4>
      <div class="form-field flex px-4 py-3">
        <input
          type="text"
          formControlName="name"
          placeholder="Введіть ваше ім'я"
        />
      </div>
      <div
        *ngIf="
          formControls['name'].invalid &&
          (formControls['name'].dirty || formControls['name'].touched)
        "
      >
        <p class="error-message">Введіть ім'я</p>
      </div>
    </div>

    <div class="flex flex-col mb-3">
      <h4>Емайл</h4>
      <div class="form-field flex px-4 py-3 mb-3">
        <input
          type="email"
          formControlName="email"
          placeholder="email@mail.com"
        />
      </div>
      <div
        *ngIf="
          formControls['email'].invalid &&
          (formControls['email'].dirty || formControls['email'].touched)
        "
      >
        <p class="error-message">Введіть коректний email</p>
      </div>
    </div>

    <div class="flex flex-col mb-1">
      <h4>Пароль</h4>
      <div class="form-field flex px-4 py-3 mb-1">
        <input
          type="password"
          formControlName="password"
          placeholder="Введіть надійний пароль"
        />
        <img src="{{ imgPath + 'visibleOn.svg' }}" alt="password visible on" />
      </div>
      <div
        *ngIf="
          formControls['password'].invalid &&
          (formControls['password'].dirty || formControls['password'].touched)
        "
      >
        <p class="error-message">Пароль повинен бути не менше 8 символів</p>
      </div>
    </div>
  </div>

  <a type="submit" (click)="onSubmit()" class="w-full">
    <app-button
      [label]="'Зареєструватися'"
      [additionalClasses]="'primary my-4 w-full'"
      [routerLink]="'/'"
      [buttonType]="'submit'"
      [isDisabled]="registrationForm.invalid"
    ></app-button>
  </a>
</form>

<div class="line-container mb-4">
  <hr />
  <span>або увійти через</span>
  <hr />
</div>

<div class="flex justify-between">
  <a class="social-button px-4 py-3 w-[45%]">
    <img src="{{ imgIconsPath + 'Facebook.svg' }}" alt="" />
    Facebook
  </a>

  <a class="social-button px-4 py-3 w-[49%]">
    <img src="{{ imgIconsPath + 'Google.svg' }}" alt="" />
    Google
  </a>
</div>
