<div class="container m-auto hidden lg:block">
  <header class="w-full flex items-center flex-col justify-between">
    <div class="top-section w-full">
      <div class="container m-auto flex items-center justify-between">
        <div routerLink="/" class="logo mr-4">
          <img src="{{ imgPath + 'logo.svg' }}" alt="logo" />
        </div>

        <nav>
          <a
            *ngFor="let link of links"
            href="#"
            routerLink="{{ link.path }}"
            [routerLinkActive]="['active']"
            class="xl:mx-4 mx-3"
          >
            {{ link.title }}
          </a>
        </nav>

        <div class="controls flex">
          <div class="flex ml-3 xl:ml-5 relative">
            <img
              class="button-header"
              routerLink="/login"
              src="{{ imgPath + 'cart.svg' }}"
              alt="cart"
            />
            <div class="info flex items-center justify-center">2</div>
          </div>

          <div class="flex ml-3 xl:ml-5 relative">
            <img
              class="button-header"
              (click)="ngxSmartModalService.getModal('mainModal').open()"
              src="{{ imgPath + 'like.svg' }}"
              alt="cart"
            />
            <div class="info flex items-center justify-center">99</div>
          </div>

          <!-- if unautorised -->
          <div *ngIf="!username" class="flex ml-3 xl:ml-5 relative">
            <img
              (click)="ngxSmartModalService.getModal('mainModal').open()"
              class="button-header"
              src="{{ imgPath + 'profile.svg' }}"
              alt="cart"
            />
          </div>

          <!-- if autorised user -->
          <div *ngIf="username" class="flex ml-3 xl:ml-5 relative">
            <a class="profile-icon" routerLink="/login" alt="cart">{{
              username
            }}</a>
            <!-- <div class="info flex items-center justify-center">21</div> -->
          </div>
        </div>
      </div>
    </div>

    <div
      class="bottom-section py-4 xl:py-10 w-full flex items-center flex-col justify-between lg:flex-row"
    >
      <app-button
        [imageUrl]="imgPath + 'catalog.svg'"
        [label]="'Каталог товарів'"
        [additionalClasses]="'primary px-4 py-3'"
        [routerLink]="'/'"
      ></app-button>

      <div class="form-field search-form flex px-4 py-3">
        <input type="text" name="search" id="" placeholder="Я шукаю" />
        <img src="{{ imgPath + 'search.svg' }}" alt="products" />
      </div>

      <div class="contacts flex flex-col">
        <div class="phone-number flex justify-between">
          <img src="{{ imgPath + 'phone.svg' }}" alt="products" />
          <span> 097 328 58 54 </span>
        </div>
        <a href="">Замовити дзвінок</a>
      </div>
    </div>
  </header>
</div>

<!-- small screens -->
<div class="w-full m-auto block lg:hidden">
  <app-header-small-screens></app-header-small-screens>


  <app-mobile-tab-bar></app-mobile-tab-bar>
</div>


<!-- <div class="test">a</div> -->
