<footer class="w-full py-10">
  <div class="container m-auto grid lg:grid-cols-4 grid-cols-1">
    <div class="logo col-span-1 mb-10 lg:mb-0 m-auto lg:m-0">
      <div routerLink="/" class="logo mr-4">
        <img src="{{ imgPath + 'logo.svg' }}" alt="logo" />
      </div>
    </div>

    <div class="flex lg:col-span-3 col-span-1 flex-col md:flex-row">
      <ng-container *ngFor="let section of sections; let i = index">
        <div class="flex flex-col md:w-full w-auto">
          <div
            class="flex w-full justify-between mb-4 border-b-2 md:border-b-0"
            (click)="toggleActiveNavBox(i)"
          >
            <h5 class="title">
              {{ section.title }}
            </h5>
            <div
              [innerHTML]="safeSvgCodes['phone']"
              class="mr-2 arrow-icon"
              [class.active]="navBars[i].active"
            ></div>
          </div>

          <div
            class="nav-box flex flex-col h-0 md:h-full"
            [class.active]="navBars[i].active"
          >
            <ng-container *ngFor="let item of section.items">
              <a
                *ngIf="item.label"
                [routerLink]="item.link || null"
                [href]="item.value || null"
                class="a-button mb-3 flex items-center justify-center"
              >
                <div
                  [innerHTML]="safeSvgCodes[item.icon]"
                  class="mr-2"
                  *ngIf="item.icon"
                ></div>
                {{ item.label }}
              </a>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="brand col-span-1 my-14 lg:my-0 m-auto lg:m-0">
      <h6>© 2023 BonTex - інтернет-магазин килимів</h6>
    </div>
  </div>
</footer>
