<h2 class="modal-title">Вхід</h2>

<div class="flex box">
  <span>Ще немає акаунта?</span>
  <a (click)="updateModalState('register')">Зарєєструватись</a>
</div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-fields flex flex-col">
    <div class="flex flex-col mb-3">
      <h4>Емайл</h4>
      <div class="form-field flex px-4 py-3">
        <input
          type="email"
          formControlName="email"
          placeholder="Введіть ваше ім'я"
        />
        <div
          *ngIf="
            formControls['email'].invalid &&
            (formControls['email'].dirty || formControls['email'].touched)
          "
        >
          <p class="error-message">Введіть коректний email</p>
        </div>
      </div>
    </div>

    <div class="flex flex-col mb-1">
      <h4>Пароль</h4>
      <div class="form-field flex px-4 py-3 mb-1">
        <input
          type="password"
          formControlName="password"
          placeholder="Введіть надійний пароль"
        />
        <img src="{{ imgPath + 'visibleOn.svg' }}" alt="password visible on" />
        <div
          *ngIf="
            formControls['password'].invalid &&
            (formControls['password'].dirty || formControls['password'].touched)
          "
        >
          <p class="error-message">Пароль повинен бути не менше 8 символів</p>
        </div>
      </div>
    </div>
  </div>
  <a type="submit" (click)="onSubmit()" class="w-full">
    <app-button
      [label]="'Увійти'"
      [additionalClasses]="'primary my-4 w-full'"
      [routerLink]="'/'"
      [buttonType]="'submit'"
      [isDisabled]="loginForm.invalid"
    ></app-button>
  </a>
</form>

<div class="line-container mb-4">
  <hr />
  <span>Вхід через</span>
  <hr />
</div>

<div class="flex justify-between">
  <a class="social-button px-4 py-3 w-[45%]">
    <img src="{{ imgIconsPath + 'Facebook.svg' }}" alt="" />
    Facebook
  </a>

  <a class="social-button px-4 py-3 w-[49%]">
    <img src="{{ imgIconsPath + 'Google.svg' }}" alt="" />
    Google
  </a>
</div>
