<div class="container pt-10 flex">
  <div class="nav-bar flex flex-col mr-14">
    <ng-container *ngFor="let item of navigationItems">
      <a
        (click)="setCurrentView(item.view)"
        [ngClass]="{ active: checkIsActive(item.view) }"
        class="flex items-center"
      >
        {{ item.label }}
        <div class="notifications-counter" *ngIf="item.showCounter">
          {{ item.counter }}
        </div>
      </a>
    </ng-container>
  </div>

  <app-private-dates *ngIf="checkIsActive('private-dates')" [user]="user"></app-private-dates>

  <app-private-dates-editor *ngIf="checkIsActive('private-dates-editor')" [user]="user"/>

  <app-password *ngIf="checkIsActive('password')" [user]="user"></app-password>

  <app-password-editor *ngIf="checkIsActive('password-editor')" [user]="user"></app-password-editor>

  <app-orders *ngIf="checkIsActive('orders')"></app-orders>

  <app-selected-goods *ngIf="checkIsActive('selected')"></app-selected-goods>

  <app-reviews *ngIf="checkIsActive('reviews')"></app-reviews>

  <app-logout *ngIf="checkIsActive('logout')"></app-logout>

</div>
